/* Tambahkan padding dan jarak pada navbar */
.navbar {
    padding: 10px 15px; /* Tambahkan padding atas/bawah 10px dan kiri/kanan 15px */
    background-color: #7c68eeb6;
}

.col-lg-8 .card:hover {
    color: lightslategray;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

body {
    background-color: #d0d0ff; /* Ganti dengan warna latar belakang yang Anda inginkan */
}

.list-group-item:hover {
    color: lightslategray; /* Ganti dengan warna latar belakang yang Anda inginkan */
}

/* Tambahkan padding pada footer */
.footer {
    padding: 20px; /* Tambahkan padding 20px ke semua sisi footer */
}

